@{
    ViewBag.Title = "Home";
}
<br />
<br />
<div class="row">
    @*<div class="col-12">

        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="@Url.Content("~/Content/Images/logosally.png")" alt="Sallinet" class="img-responsive" />

                </div>

            </div>*@
            <div class="col-12">


                @if (!Request.IsAuthenticated)
                {
                    <hr />
                    <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg">
                        Login
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-lg">
                        Register
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                    <hr />

                }
                else
                {
                    @*<div>
                        Welcome back @System.Web.HttpContext.Current.User.Identity.Name
                    </div>*@

                    @Html.Partial("_Dashboard")

                }

            </div>
        </div>
