@using System.Activities.Statements
@model CMS.ViewModels.EventsTimelineViewModel

@{
    ViewBag.Title = "Event Timeline";
}


<div class="row" style="margin-top:-30px">
    <div class="col-lg-12" style="width: 98%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Upcoming Events
            </div>
            <div class="panel-body">


                <ul class="timeline">

                    @{
                        int counter = 0;
                    }
                    @foreach (var g in Model.TopEvents)
                    {
                        counter++;
                        <li class="@(counter%2==0 ? "timeline-inverted":"")">
                            @if(counter == 1){ 
                            <div class="timeline-badge info">
                                <i class="fa fa-arrow-left"></i>
                            </div>
                            }
                            @if(counter == 2){ 
                                <div class="timeline-badge warning">
                                    <i class="fa fa-arrow-right"></i>
                                </div>  
                            }
                            @if(counter == 3){ 
                                <div class="timeline-badge danger">
                                    <i class="fa fa-arrow-left"></i>
                                </div>
                            }
                            @if(counter == 4){ 
                                <div class="timeline-badge success">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            }

                            <div class="timeline-panel">
                                <div class="row">
                                    <h4 class="text-success text-center"><u>@g.Name</u></h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-7">
                                        <div class="row timeline-body">
                                            <p class="text-info">
                                                <i class="fa fa-bookmark"></i>  @g.Details
                                            </p>
                                            <p class="text-warning">
                                                <i class="fa fa-user"></i>  @g.AssociatedOrganiser.DisplayName
                                            </p>
                                            <p class="text-primary">
                                                <i class="fa fa-location-arrow"></i>  @g.AssociatedLocation.Name
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row etTime">
                                            @g.StartTime.ToString("hh:mm")
                                        </div>
                                        <div class="row etDay">
                                            @g.StartTime.ToString("dddd")
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>


                            </div>
                        </li>
                    }
                </ul>
                <div class="col-md-4" style="margin: 0 0 0 345px">
                    <div class="text-center">
                        <img src="@Url.Content("~/Content/Images/logosally.png")" alt="Sallinet" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>