@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SAllI CMS</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/css")
 
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_NavBar")
        @Html.Partial("_NavSideBar")
        @Html.Partial("_TopDashboard")
    
    }
           @RenderBody()

    @*@Html.Partial("_Footer")*@
   
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>











@*using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SALLI Manager</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")

</head>*@


