<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SALLI Content Mangement System</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

         <li>
             @Html.Partial("_LoginPartial")
         </li>        
        </ul>
        <!-- /.navbar-side-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">             
                    <!-- /input-group -->
                    <li>
                        <a href='@Url.Action("Index", "Home")'><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html">Flot Charts</a>
                            </li>
                            <li>
                                <a href="morris.html">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/Devices"><i class="fa fa-table fa-fw"></i> Devices</a>
                    </li>
                    <li>
                        <a href="/Locations"><i class="fa fa-location-arrow"></i> Locations</a>
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                        <a href="/Events"><i class="fa fa-th-list"></i> Events</a>
                    </li>
                    <li>
                        <a href="/EventCategories"><i class="fa fa-list-alt"></i> EventCategories</a>
                    </li>
                    <li>
                        <a href="/Organsiers"><i class="fa fa-users"></i> Organsiers</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    </div>
<!-- /#wrapper -->
<!-- jQuery -->   







@*//previous one- master na*@

 @*<div class="nav navbar-top-links navbar-right">
    <div class="container">
        <div class="navbar-header">
         
                
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/Content/Images/logosallyname.png")' alt="Sallinet" class="img-responsive"  />
                </a>
  </div>*@
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">      
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    }

                    @if (User.IsInRole("Administration"))
                    {
                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("EventCategories", "Index", "EventCategories")</li>
                    }

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li>@Html.ActionLink("Devices", "Index", "Devices")</li>
                        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>

                        <li>@Html.ActionLink("Events", "Index", "Events")</li>
                        <li>@Html.ActionLink("EventCategories", "Index", "EventCategories")</li>
                        <li>@Html.ActionLink("Organisers", "Index", "Organisers")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
           @*@Html.ActionLink("SALLI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (!Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                }

                @if (User.IsInRole("EventManager"))
                {
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    <li>@Html.ActionLink("EventCategories", "Index", "EventCategories")</li>
                }

                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Devices", "Index", "Devices")</li>
                    <li>@Html.ActionLink("Locations", "Index", "Locations")</li>

                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                    <li>@Html.ActionLink("EventCategories", "Index", "EventCategories")</li>
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>*@
  